@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.errorheader {
    font-family: 'Inconsolata';
    font-size: 24px;
    letter-spacing: -0.08em;
    margin: 40px 0 0 70px;
}

main {
    display: flex;
    flex-direction: column;
}

.scarecrow img {
    max-width: 539px;
    width: 100%;
    height: 447.5px;
    border-radius: 0px;
}

