@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.errorheader {
    font-family: 'Inconsolata';
    font-size: 24px;
    letter-spacing: -0.08em;
    margin: 40px 0 0 70px;
}

main {
    display: flex;
    flex-direction: column;
}

.scarecrow img {
    max-width: 539px;
    width: 100%;
    height: 447.5px;
    border-radius: 0px;
}

.error-msg {
    max-width: 586px;
    width: 100%;
    height: 190px;
    align-self: center;
}

.error-msg h2{
    position: absolute;
    width: 586px;
    height: 190px;
    left: 735px;
    top: 265px;
    
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 64px;
    letter-spacing: -0.035em;
    color: #333333;
}

.error-msg p{
    position: absolute;
    width: 381px;
    height: 108px;
    left: 736px;
    top: 491px;
    
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}

.home-button {
    position: absolute;
    width: 216px;
    height: 68px;
    left: 740px;
    top: 663px;

    background-color: #333333;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer {
    position: absolute;
    width: 287px;
    height: 17px;
    left: 577px;
    top: 1039px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}
