@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.errorheader {
    font-family: 'Inconsolata';
    font-size: 24px;
    letter-spacing: -0.08em;
    margin: 40px 0 0 70px;
}

main {
    display: flex;
    flex-direction: column;
}

.scarecrow img {
    max-width: 539px;
    width: 100%;
    height: 447.5px;
    border-radius: 0px;
}

.scarecrow {
    align-self: center;
}

.error-msg {
    max-width: 455px;
    width: 100%;
    height: auto;
    align-self: center;
}

.error-msg h2 {
    font-family: "Space Mono", monospace;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
}

.error-msg p{
    font-family: "Space Mono", monospace;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    max-width: 381px;
    width: 100%;
    margin: 36px 0;
}

.home-button {
    background-color: #333;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    margin-bottom: 90px;
    align-content: center;
    color: #FFFFFF;
    padding: 24px 43px;
}

.home-button:hover {
    background-color: rgb(29, 29, 29);
    cursor: pointer;
}

footer {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}

.username-github-link, .devchallengelink {
    color: #333;
}
  
.username-link:hover {
    color: black;
}

.devchallenges-link:hover {
    color: #f7542e;
}

@media screen and (min-width: 850px) {
    main {
      flex-direction: row;
    }
    .scarecrow img {
      margin-left: 77px;
    }
    .error-msg {
      margin-left: 190px;
    }
    .error-msg p {
      font-family: "Space Mono", monospace;
      text-align: left;
      font-weight: 400;
      max-width: 381px;
      width: 100%;
      margin: 36px 0;
    }
}